.wrapper {
  background-color: antiquewhite !important;
}

.signUpButton {
  width: 100%;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupTitle {
  color: black;
  font-weight: bold;
}

.loginButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loginButtonButton {
  color: black;
}

.loginButtonButton:hover {
  text-decoration: underline;
}
