.wrapper {
  background-color: antiquewhite !important;
}

.signUpButton {
  width: 100%;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupTitle {
  color: black;
  font-weight: bold;
}
