.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.item {
  padding: 5px 10px;
  margin-right: 5px;
}

.item:not(:last-child) {
  border-right: 1px solid grey;
}

.active {
  font-weight: bold;
  color: antiquewhite;
}
