.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.item {
  padding: 5px 10px;
  margin-right: 5px;
}

.item:not(:last-child) {
  border-right: var(--container-border);
}

.active {
  font-weight: bold;
  color: var(--auth-component-background);
}

.exitButton {
  padding: 5px;
}
