.postWrapper {
  display: flex;
  padding: 10px;
}

.avatar {
  margin-right: 10px;
}

.userData {
  display: flex;
  margin-bottom: 10px;
}

.userDataItem:not(:last-child) {
  margin-right: 10px;
}

.postContent {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .postWrapper {
    flex-direction: column;
  }

  .avatar {
    margin-bottom: 5px;
  }
}

.likes {
  margin-top: 10px;
}

.likesButtonWrapper {
  display: flex;
  justify-content: flex-start;
}
