.userInfo {
  display: flex;
  width: 100%;
  padding: 0;
}

.userInfoRoundedBorder {
  border-radius: 20px 0 0 20px !important;
}

.userInfo__avatar {
  width: 100px !important;
  height: 100px !important;
}

.postsStraightBorder {
  border-radius: 0 0 20px 20px !important;
}

.postsRoundedBorder {
  border-radius: 20px !important;
}

.userInfo__content {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 10px;
  margin: 0 10px;
  border-left: var(--container-border);
}

.friendshipToggle {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 20px 20px 0 !important;
  border-left: none !important;
}

.contentItem:not(:last-child) {
  margin-bottom: 5px;
}

.userInfo__content_name {
  margin-right: 5px;
}

@media screen and (max-width: 350px) {
  .userInfo {
    flex-direction: column;
  }

  .userInfo__content {
    margin: 0;
    border: none;
  }

  .userInfo__avatar {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
